body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}

nav {
    margin: 10px;
    border: 2px solid pink;
}

header {
    border: 2px solid turquoise;
    margin: 10px;
    padding: 10px 25px;
    text-align: center;
}

main {
    border: 2px solid blue;
    margin: 10px;
    padding: 10px 25px;
}

footer {
    border: 2px solid yellow;
    margin: 0 10px;
    padding: 10px 25px;
}

a {
    color: white;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

.menu li {
    display: inline;
}

@media (min-width: 1024px) {
    body {
        background-color: darkgreen;
        color: yellow;
        font-size: 16px;
        line-height: 1.5;
    }
}